<div>
  <h1 class="font-bold text-4xl">Dev::Www#show</h1>
  <p>Find me in app/views/dev/www/show.html.erb</p>
  <ul>
    <li><%= link_to 'com', dev_www_com_path %></li>
    <li><%= link_to 'net', dev_www_net_path %></li>
    <li><%= link_to 'org', dev_www_org_path %></li>
    <li><%= link_to 'RETURN', dev_root_path %></li>
  </ul>
</div>
