<h1>User::MembershipEmails#new</h1>
<p>Find me in app/views/user/membership_emails/new.html.erb</p>
<hr>

<%= render "form", user_email: @user_email %>

<div>
  <%= link_to "Back to registration page", new_user_registration_path %>
  <br>
  <%= link_to "Go to Sign In", new_user_session_path %>
</div>
