<div>
  <h1 class="font-bold text-4xl">Net::Sessions#new</h1>
  <p>Find me in app/views/net/sessions/new.html.erb</p>
  <ul>
    <li>      <%= link_to 'email', new_net_session_email_path %>    </li>
    <li>      <%= link_to 'apple', new_net_session_apple_path %>    </li>
    <li>      <%= link_to 'google', new_net_session_google_path %>    </li>
    <li>      <%= link_to 'token', new_net_session_token_path %>    </li>
  </ul>
</div>
