<div>
  <h1 class="font-bold text-4xl">UMAXICA(Dev)</h1>
  <p>Find me in app/views/dev/root/index.html.erb</p>
  <ul>
    <li><%= link_to 'api', dev_api_path %></li>
    <li><%= link_to 'www', dev_www_path %></li>
  </ul>
</div>
