<div>
  <h1 class="font-bold text-4xl">Net::Roots#index</h1>
  <ul>
    <li><%= link_to 'sign up', new_net_registration_path %></li>
    <li><%= link_to 'sign in', new_net_session_path %></li>
  </ul>
</div>
