<div id="<%= dom_id animal %>">
  <p>
    <strong>Full name:</strong>
    <%= animal.full_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= animal.description %>
  </p>

  <p>
    <strong>Extinct:</strong>
    <%= animal.extinct %>
  </p>

</div>
